#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	parameters:
		database:
			driver: pdo_mysql
			host: localhost
			dbname: test
			user:
			password:
			charset: utf8
			collation: utf8_czech_ci


	php:
		date.timezone: Europe/Prague
		session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes


	nette:
		session:
			autoStart: smart

	doctrine:
		entityManagers:
			default:
				connection: %database%

				console: true

	migrations:
		connection: @doctrine.connections.default


	services:
		console: @doctrine.console

		database: @doctrine.entityManagers.default

		authenticator: Authenticator( @database::getRepository('User') )


	factories:


production < common:


development < common:
	parameters:
		database:
			dbname: test
			user: ace
			password: ace